body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

textarea {
    resize: none;
}

.font-up{
    font-size: 1.1em;
}

.title-elements {
    font-size: 1.8em;
}

.title-elements-panel2 {
    font-size: 1.4em;
}

.delete-elements {
    color: red;
    font-size: 1.8em;
    cursor: pointer;
}

.delete-elements:hover {
    color: red;
}

.delete-elements-panel2 {
    color: red;
    font-size: 1.4em;
    cursor: pointer;
}

.delete-elements-panel2:hover {
    color: red;
}

.add_family_relationship {
    font-size: 1.1em;
}

.add_family_relationship:hover {
    text-decoration: none;
    display: block;
    color: black;
}

a.black {
    color: black;
}

a.black:hover {
    color: black;
}

a.black:visited {
    color: black;
}

a.black:active {
    color: black;
}

.breadcrumb > li > a {
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .page-header-actions {
        position:relative;
        right: auto;
        top: auto;
        padding: 10px 0 0 0;
        -webkit-transform:none;
        -ms-transform:none;
        -o-transform:none;
        transform: none;
        margin: auto;
    }
}
