.app-work .panel-heading {
    padding: 20px;
    overflow: auto;
}

.app-work .panel-info {
    float: right;
    padding: 11px 0;
    margin: 0;
}

.app-work .panel-info li {
    display: inline-block;
    margin-right: 50px;
    text-align: center;
    list-style: none;
}
.app-work .panel-info li:last-child {
    margin: 0;
}

.app-work .panel-info li .num {
    font-size: 24px;
    line-height: 1.2em;
}

.app-work .panel-info li p {
    margin: 0;
}

@media (max-width: 770px) {
    .app-work .panel-info {
        float: none;
        text-align: center;
    }
}

@media (max-width: 418px) {
    .app-work .panel-info li {
        margin-right: 20px;
    }
}

@media (max-width: 355px) {
    .app-work .panel-info li {
        margin-right: 2px;
    }
}

.strike {
    color: black;
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.strike > span {
    position: relative;
    display: inline-block;
    text-align: center !important;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100px;
    height: 2px;
    background: red;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}