/vendor
/node_modules
public/storage/*
Homestead.yaml
Homestead.json
.env
.idea
public/storage/
resources/assets/bower
public/build
public/css
public/img
public/js
_ide_helper.php
config/ide-helper.php
