/vendor
/node_modules
.env
.env.codeship
.idea
public/build
public/css
public/img
public/js
storage
_ide_helper.php
.rnd
.DS_Store
public/.DS_Store
resources/views/layout/.DS_Store
public/fonts/
public/mix-manifest.json
