body {
    font-family: 'Arial';
    color: #0b0b0b;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6, hr {
    color: black !important;
}

table, td {
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
}