body {
    font-family: 'Roboto', sans-serif;
}

thead {
    display: table-header-group;
    font-size: 10px;
}

tfoot {
    display: table-row-group;
}

tr {
    page-break-inside: avoid;
}

tr td {
    font-size: 8px;
}